    <div class='col-sm-6 col-sm-offset-3'>
      <div class='panel panel-default'>
	<div class="panel-heading text-center">
	  Node usage summary
	</div>
	<div class="panel-body">
	  <table class="table table-condensed">
	    <thead>
	      <tr>
		<th>Type</th>
		<th>Cluster</th>
		<th>Used</th>
		<th>Free
		  <a href='#' class='btn btn-xs'
		         data-toggle='tooltip'
			 data-container="body"
			 title='Reservation system prediction in parens'
			 data-trigger="hover"><span
                             class='glyphicon glyphicon-question-sign'
			     style='margin-bottom: 4px;'></a></span>
		</th>
		<th>Total</th>
	      </tr>
	    </thead>
	    <tbody>
	      <%  _.each(utilization, function(site, name) { %>
		<%  _.each(site.typeinfo, function(info, type) { %>
		  <tr>
		    <td><%- type %></td>
		    <td><%- name %></td>
		    <td><%- info.count %></td>
		    <td>
		      <%- info.free %>
		      <% if (_.has(info, "reserve_free")) { %>
			(<%- info.reserve_free %>)
		      <% } else { %>
			(n/a)
		      <% } %>
		    </td>
		    <td><%- info.total %></td>
		  </tr>
		<% }); %>
	      <% }); %>
	    </tbody>
	  </table>
	</div>
      </div>
    </div>
