<div class="row">
    <div class='col-sm-7 col-sm-offset-1'>
      <div class='panel panel-default'>
	<div class="panel-heading text-center">
	  Experiment info for <%= expinfo.name %>
	</div>
	<div class="panel-body">
	  <table class="table table-condensed">
	    <tbody>
	      <tr>
		<td>Name:</td>
		<td><a href='status.php?uuid=<%- uuid %>'><%- expinfo.name %></a></td>
		<td>Profile:</td>
		<% if (expinfo.profile_uuid) { %>
		  <td><a href='show-profile.php?uuid=<%- expinfo.profile_uuid %>'>
		    <%- expinfo.profile_name %></a></td>
		<% } else { %>
		  <td><%- expinfo.profile_name %></td>
   	        <% } %>
	      </tr>
	      <tr>
		<td>Creator:</td>
		<td><a href='user-dashboard.php?user=<%- expinfo.creator %>'>
		  <%- expinfo.creator %></a></td>
		<td>Project:</td>
		<td><a href='show-project.php?project=<%- expinfo.project %>'>
		  <%- expinfo.project %></a></td>
	      </tr>
	      <tr>
		<td>Created:</td>
		<td class="format-date"><%- expinfo.created %></td>
		<td>Expires:</td>
		<td class="format-date"><%- expinfo.expires %></td>
	      </tr>
	      <tr>
		<td></td>
		<td></td>
		<td>Max Ext:</td>
		<td id="max-extension">...</td>
		<td></td>
	      </tr>
	    </tbody>
	  </table>
	</div>
      </div>
    </div>
    <div class='col-sm-3'>
      <div class='panel panel-default'>
	<div class="panel-heading text-center">
	  Flags
	</div>
	<div class="panel-body">
	  <table class="table table-condensed">
	    <tbody>
	      <tr>
		<td>
		  <span data-toggle='popover'
			data-delay='{"hide":500, "show":500}'
			data-content="When checked, only administrator can
				      extend this experiment. No free time
				      is granted to user at all.">
		    Lockout:</span>
		</td>
		<td>
		  <input type="checkbox" id="lockout-checkbox"
			 <% if (expinfo.lockout) { %>checked<% } %> >
		</td>
	      </tr>
	      <tr>
		<td>
		  <span data-toggle='popover'
			data-delay='{"hide":500, "show":500}'
			data-content="When checked, the experiment 
				      cannot be terminated until the admin
				      lockdown bit is cleared by an
				      admininstrator. The user cannot override
				      this lockdown.">
		    Admin Lockdown:</span>
		</td>
		<td>
		  <input type="checkbox" id="admin-lockdown-checkbox"
			 <% if (expinfo.admin_lockdown) { %>checked<% } %> >
		</td>
	      </tr>
	      <tr>
		<td>
		  <span data-toggle='popover'
			data-delay='{"hide":500, "show":500}'
			data-content="When checked, the experiment 
				      cannot be terminated by the user
				      unless the user verifies 
				      the lockdown code when clicking the
				      Terminate button.
				      This prevents accidental termination,
				      and is automatically set whenever an
				      experiment is extended for more then two
				      weeks. Use the admin lockdown flag to
				      fully prevent termination.">
		    User Lockdown:</span>
		</td>
		<td>
		  <input type="checkbox" id="user-lockdown-checkbox"
			 <% if (expinfo.user_lockdown) { %>checked<% } %> >
		</td>
	      </tr>
	      <tr>
		<td>
		  <span data-toggle='popover'
			data-delay='{"hide":500, "show":500}'
			data-content="When checked, the experiment is put into
				      Quarantine (emulab panic) mode.">
		    Quarantine:</span>
		</td>
		<td>
		  <input type="checkbox" id="quarantine-checkbox"
			 <% if (expinfo.paniced) { %>checked<% } %> >
		</td>
	      </tr>
	    </tbody>
	  </table>
	</div>
      </div>
    </div>
</div>
<div class="row">
  <div class="row" id="adminnotes-row">
    <div class='col-sm-8 col-sm-offset-2' id="adminnotes-div">
      <div class='panel panel-default'>
	<div class="panel-heading clearfix">
	  <a class='btn btn-primary btn-xs pull-right toggle'
	     href="#adminnotes-collapse"
	     data-toggle="collapse"
	     type='button'>
	    <% if (expinfo.admin_notes == "") { %>Add<% } else { %>View<% } %>
	  </a>
	  <a class='btn btn-danger btn-xs pull-right hidden' hidden
	     style="margin-right: 10px;"
	     id="adminnotes-save-button"
	     type='button'>Save</a>
	  <span class="adminnotes-title">Admin Notes</span>
	</div>
	<div id="adminnotes-collapse"
	     class="panel-collapse collapse">
	  <div class='panel-body'>
	    <textarea style="width: 100%;" rows="3"
		      placeholder="Put admin notes here and click Save"
	    ><%= expinfo.admin_notes %></textarea>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>

