<div class='row'>
<div class='row'>
  <div class='col-sm-12'>
    <div class='panel panel-default'>
      <div class='panel-body'>
	<div class='row'>
	  <div class='col-sm-12'>
	    <div>
	      <!-- Nav tabs -->
	      <ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active">
		  <a href="#users" role="tab"
		     data-toggle="tab">Active Users</a></li>
		<li role="presentation">
		  <a href="#projects" role="tab"
		     data-toggle="tab">Active Projects</a></li>
		<li role="presentation">
		  <a href="#search-users" role="tab"
		     data-toggle="tab">Search Users</a></li>
		<li role="presentation">
		  <a href="#search-projects" role="tab"
		     data-toggle="tab">Search Projects</a></li>
	      </ul>
	      <!-- Tab panes -->
	      <div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="users">
		  <div class="table-responsive">
		    <input class='form-control search' type='search'
			   data-column='all'
			   id='users_search' placeholder='Search'>
		    <div class="text-center">
		      <small>
			There are <span class="match-count"></span> matching users.
			<span class='glyphicon glyphicon-question-sign'
			      data-toggle='tooltip'
			      data-container="body"
			      data-trigger="hover"
			      title='Active users are either logged in or have
				     an experiment running'></span>
		      </small>
		    </div>
		    <table class='tablesorter' id='users_table'>
		      <thead>
			<tr>
			  <th>UID</th>
			  <th>Name</th>
			  <th>Affiliation</th>
			</tr>
		      </thead>
		      <tbody>
			<% _.each(users, function(value, uid) { %>
			  <tr>
			    <td>
			      <a href='user-dashboard.php?user=<%= uid %>'>
				<%= uid %></a>
			    </td>
			    <td><%= value.usr_name %></td>
			    <td><%= value.usr_affil %></td>
			  </tr>
			<% }); %>
		      </tbody>
		    </table>
		  </div>
		</div>
		<div role="tabpanel" class="tab-pane" id="projects">
		  <div class="table-responsive">
		    <input class='form-control search' type='search' data-column='all'
			   id='projects_search' placeholder='Search'>
		    <div class="text-center">
		      <small>
			There are <span class="match-count"></span>
			matching projects.
			<span class='glyphicon glyphicon-question-sign'
			      data-toggle='tooltip'
			      data-container="body"
			      data-trigger="hover"
			      title='Active projects are currently running an
				     an experiment, or have in the last
				     two months'></span>
		      </small>
		    </div>
		    <table class='tablesorter' id='projects_table'>
		      <thead>
			<tr>
			  <th>PID</th>
			  <th>Leader</th>
			  <th>Affiliation</th>
			</tr>
		      </thead>
		      <tbody>
			<% _.each(projects, function(value, pid) { %>
			  <tr>
			    <td>
			      <a href='show-project.php?project=<%= pid %>'>
				<%= pid %></a>
			    </td>
			    <td>
			      <a href='user-dashboard.php?user=<%= value.usr_uid %>'>
				<%= value.usr_name %></a>
			    </td>
			    <td><%= value.usr_affil %></td>
			  </tr>
			<% }); %>
		      </tbody>
		    </table>
		  </div>
		</div>
		<div role="tabpanel" class="tab-pane" id="search-users">
		  <div class="table-responsive">
		    <input class='form-control search' type='search' 
			   id='search_users_search' placeholder='Search'>
		    <div class="text-center">
		      <small>
			There are <span class="match-count">0</span> matching users.
		      </small>
		    </div>
		    <table class='tablesorter'
			   id='search_users_table'>
		      <thead>
			<tr>
			  <th>UID</th>
			  <th>Name</th>
			  <th>Affiliation</th>
			</tr>
		      </thead>
		      <tbody>
		      </tbody>
		    </table>
		  </div>
		</div>
		<div role="tabpanel" class="tab-pane" id="search-projects">
		  <div class="table-responsive">
		    <input class='form-control search' type='search' 
			   id='search_projects_search' placeholder='Search'>
		    <div class="text-center">
		      <small>
			There are <span class="match-count">0</span>
			matching projects.
		      </small>
		    </div>
		    <table class='tablesorter'
			   id='search_projects_table'>
		      <thead>
			<tr>
			  <th>PID</th>
			  <th>Leader</th>
			  <th>Affiliation</th>
			</tr>
		      </thead>
		      <tbody>
		      </tbody>
		    </table>
		  </div>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
