<div class='row'>
  <div class='col-lg-12 col-lg-offset-0
              col-md-12 col-md-offset-0
              col-sm-12 col-sm-offset-0
              col-xs-12 col-xs-offset-0'>
    <table class='table table-striped table-condensed'>
      <thead>
	<tr>
	  <th>Vers</th>
	  <th>Creator</th>
	  <th>Created</th>
	  <th>Destroyed</th>
	  <th>Error</th>
	  <% if (window.ISADMIN) { %>
	    <th>Logs</th>
	  <% } %>
	</tr>
      </thead>
      <tbody>
	<% _.each(instances, function(instance) { %>
	<tr>
	  <td>
	    <a href='manage_profile.php?action=edit&uuid=<%- instance.p_uuid %>'>
	      <%- instance.p_version %></a>
	  </td>
	  <td><%- instance.creator %></td>
	  <td><%- instance.created %></td>
	  <% if (instance.active) { %>
	    <td><a href='status.php?uuid=<%- instance.uuid %>' target="_blank">
	      <span class="glyphicon glyphicon-eye-open"></span></a></td>
	  <% } else { %>
	    <td><%- instance.destroyed %></td>
	  <% } %>
	  <td class="text-danger">
	    <% if (_.has(instance, "iserror")) { %>
	      <% if (_.has(instance, "error_message")) { %>
		<span style="text-decoration: underline;"
		      data-toggle='popover'
		      data-delay='{"hide":100, "show":500}'
		      data-html='true'
		      data-uuid="<%- instance.uuid %>"
		      data-content="<code style='white-space: pre-wrap'><%- instance.error_message %></code>"
		><%- instance.error_reason %></span>
	      <% } else { %>
		<%- instance.error_reason %>
	      <% } %>
	    <% } %>
	  </td>
	  <% if (window.ISADMIN) { %>
	    <td>
	      <% _.each(instance.public_urls.split(","), function(url) { %>
		<a href='<%- url %>' target="_blank">
		  <span class="glyphicon glyphicon-link"></span></a>
	      <% }); %>
	    </td>
	  <% } %>
	</tr>
	<% }); %>
      </tbody>
    </table>
  </div>
</div>


