<div class="table-responsive">
  <input class='form-control search' type='search' data-column='all'
               id='profile_search' placeholder='Search'>
  <table class='tablesorter' id='profiles_table'>
    <thead>
      <tr>
	<th>Name</th>
	<th class="sorter-false">&nbsp</th>
	<% if (showCreator) { %>
	  <th>Creator</th>
	<% } %>
	<% if (showProject) { %>
	  <th>Project</th>
	<% } %>
	<th>Description</th>
	<th>Created</th>
	<th>Listed</th>
	<th>Privacy</th>
      </tr>
    </thead>
    <tbody>
      <% _.each(profiles, function(value, name) { %>
	<tr>
	  <td><%= value.link %></td>
	  <td style='white-space: nowrap;'>
            <a href="instantiate.php?profile=<%- value.profile_uuid %>"
	      <span class='glyphicon glyphicon-play'
		    data-toggle='tooltip'
		    data-container="body"
		    data-trigger="hover"
		    title='Instantiate this profile'></span>
	    </a>
	    <a class='showtopo_modal_button'
               data-profile=<%= value.profile_uuid %>>	    
	      <span class='glyphicon glyphicon-modal-window'
		    data-toggle='tooltip'
		    data-container="body"
		    data-trigger="hover"
		    title='Show topology'></span>
	    </a>
	  </td>
	  <% if (showCreator) { %>
	    <td><%= value.creator %></td>
	  <% } %>
	  <% if (showProject) { %>
	    <td><%= value.project %></td>
	  <% } %>
	  <td><%- value.description %></td>
	  <td class="format-date" style='white-space: nowrap;'>
	    <%- value.created %></td>
	  <td><%- value.listed %></td>
	  <td><%- value.privacy %></td>
	</tr>
      <% }); %>
    </tbody>
  </table>
</div>
<!-- This is the topology view modal -->
<div id='quickvm_topomodal' class='modal fade'>
  <div class='modal-dialog' id='showtopo_dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'
                aria-hidden='true'>
          &times;</button>
        <h3>Topology Viewer</h3>
      </div>
      <div class='modal-body'>
        <!-- This topo diagram goes inside this div -->
        <div class='panel panel-default'
             id='showtopo_container'>
          <div class='panel-body'>
            <div id='showtopo_nopicker' class='jacks'></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


