<div class='modal fade' id="resgraph-modal">
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
	<div class='panel panel-default'>
	  <div class="panel-heading panel-heading-list">
            <button type='button' class='close' data-dismiss='modal'
                    aria-hidden='true'>&times;</button>
	    <center>
	      <h5>
		<span class="cluster-name"></span> Availability
	      </h5>
	    </center>
	  </div>
	  <div class='panel-body panel-body-dashboard'>
	    <svg style="height: 80%; padding: 0px;"></svg>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
