<div class='row'>
  <div class='col-lg-8  col-lg-offset-2
       col-md-10 col-md-offset-1
       col-sm-10 col-sm-offset-1
       col-xs-12'>
    <div class='panel panel-default'>
      <div class='panel-heading'>
	<% if (window.ISCLOUD) { %>
	  <span class="pull-right">
	    Please see our
	    <a href="http://www.cloudlab.us/aup.php" target="_blank">
	      Acceptable Use Policy</a>
	  </span>
	<% } %>
        <h3 class='panel-title' id='signup_panel_title'>
	  <%- pagetitle %>
	</h3>
      </div>
      <div class='panel-body'>
	<% if (general_error) { %>
	  <font color=red><%- general_error %></font>
	<% } %>
	<% if (about_account) { %>
	  <%= about_account %>
	<% } %>
	<form id='quickvm_signup_form'
              role='form'
              enctype='multipart/form-data'
	      method='post' action='signup.php'>
	  <div class='row'>
	    <div class='<% if (this_user && !promoting) { %>col-sm-12<% } else { %>col-sm-6<% } %>'>
	      <%= verify_modal %>
	      <input type='hidden' name='formfields[pubkey]'
		     value='<%- pubkey %>'>
	      <% if (!this_user || promoting) { %>
	        <fieldset>
		  <legend>Personal Information</legend>
		  <%= personal_fields %>
		</fieldset>
	    </div>
	    <div class='col-sm-6'>
	      <% } %>
	      <fieldset>
		<legend>
		  Project Information
		</legend>
		<%= project_fields %>
	      </fieldset>
	    </div>
	  </div>
          <div class='row sidebyside-form'>
           <button class='btn btn-primary btn-sm pull-right'
		   id='submit_button'
                   type='submit' name='create'><%- button_label %></button>
	 </div>
	</form>
      </div>
    </div>
  </div>
</div>
