<!-- This is the extend modal -->
<div id='extend_modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <form id='extend_request_form' role='form'>
          <button type='button' class='close' data-dismiss='modal'
                  aria-hidden='true'>&times;</button>
          <div class='clearfix'></div>
          <div class='row'>
            <div class='col-xs-12'>
                <center>
                  <h4>Extend by:
                    <span id='extend_value'>1 day</span></h4>
                </center>
              </div> <!-- /col -->
            </div> <!-- /row -->
          <div class='row'>
            <div class='col-xs-12'>
              <div class='well'>
                <div class='col-xs-12'>
                  <div id='extend_slider'></div>
                </div> <!-- /col -->
                <div class='col-sm-3' id='myusage-info'>
                  <span style='font-weight: 500;'>Node-Hours&nbsp;<span>
		    <a href='#' class='btn btn-xs' id='myusage-popover'
		       data-toggle='popover'
		       data-html='true'
		       data-placement='auto'
		       data-content='
		       <p>
			 Usage is tracked in terms of <em>node hours</em>:
			 the number of nodes multiplied by the number of
			 hours they are allocated.
		       </p>
		       <p> 
			 You can find your current usage by selecting <b>My
			   Experiments</b> from the <b>Actions</b> menu. You
			 can view your historical usage by selecting <b>My
			   History</b>.
		       </p>'> 
		      <span class='glyphicon glyphicon-question-sign' 
			    style='margin-bottom: 4px;'></span> 
		    </a></span>
                </div>
                <div class='col-xs-4 form-inline'>
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon">Used</span>
                      <input type="text" class="form-control" id='current_usage' size="6" readonly></input>
                    </div> <!-- /input-group -->
                  </div> <!-- /form-group -->
                </div> <!-- /col -->
                <div class='col-xs-5 form-inline'>
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon">Requested</span>
                      <input type="text" class="form-control" id='future_usage' size="6" readonly></input>
                    </div> <!-- /input-group -->
                  </div> <!-- /form-group -->
                </div> <!-- /col -->
                <div class='clearfix'></div>
              </div> <!-- /well -->
            </div> <!-- /col -->
          </div> <!-- /row -->
          <div class='row'>
            <div class='col-lg-10 col-lg-offset-1
                        col-md-10 col-md-offset-1
                        col-sm-12 col-sm-offset-0
                        col-xs-12 col-xs-offset-0'>
              <div id='label0_request' data-minchars='120'>
                <p>
                Please provide a short explanation (a few sentences)
                of why you need more time.
                </p>
              </div> <!-- /#label0_request -->
              <div id='label1_request' class='hidden' data-minchars='240'>
                <p>
                  Please provide a short explanation (a few sentences)
                  of why you need more time. Experiments that consume a large
                  number of <emph>node-hours</a> represent a larger fraction of
                  the testbed's resources, and require stronger rationales.
                </p>
                <p class="text-warning">
                  This request will be reviewed by testbed staff
                </p>
              </div> <!-- /#label1_request -->
              <div id='label2_request' class='hidden' data-minchars='512'>
                <p>
                  Please select a date and tell us in detail
                  why you need such a long extension; such long
                  extensions are rare and require approval from
                  the <em>resource management committee</em>.  Be sure
                  to include a phone number where we can contact you to
                  discuss your extension. You will receive email when your
                  extension is granted, but if you do not hear back in a day or
                  two, please contact us.
                </p>
                <p class="text-danger">
                <input type='text' id='datepicker'
                               name='datepicker'
                               size=15
                               placeholder='MM/DD/YYYY'>
                  This request will be reviewed the resource management committee
                </p>
              </div> <!-- /#label2_request -->
              <div id='why_extend_div'>
                <textarea id='why_extend'
                          class='form-control align-center-inline'
                          rows=5></textarea>
                <br>&nbsp;
                <div class="alert alert-danger hidden" role="alert" id="extend_counter_alert">
                  <span id='extend_counter_msg'>&nbsp</span>
                </div>
              </div> <!-- #why_extend_div -->
            </div> <!-- /col -->
          </div> <!-- /row -->
          <div class='row'>
            <div class='col-xs-6 col-xs-offset-3'>
              <button class='btn btn-primary btn-sm align-center' disabled
                      id='request-extension'
                      type='submit' name='request'>Request Extension</button>
                
            </div> <!-- /col -->
          </div> <!-- /row -->
        </form> <!-- #extend_request_form -->
      </div> <!-- /modal-body -->
    </div> <!-- /modal-content -->
  </div> <!-- /modal-dialog -->
</div> <!-- /modal -->
<div id='restricted_extend_modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <button type='button' class='close' data-dismiss='modal'
                aria-hidden='true'>&times;</button>
	<center><h3>Warning</h3></center>
	<div>
	  Your experiment cannot be extended beyond <span id="hours"></span>
	  hour(s) from now because of a pre-scheduled resource
	  reservation.  Clicking confirm below will result in your
	  experiment be extended for as long as possible, but be sure to
	  save all your work before your experiment is terminated. If
	  this is going to cause undue hardship, please contact
	  <a class="supportmail"></a> to plead your case.
	</div>
	<div style="margin-top: 10px">
          <button class='btn btn-primary btn-sm align-center'
                  type='submit' id='confirm-max'>Confirm</button>
	</div>
      </div>
    </div>
  </div>
</div>
<div id='no_extend_modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <button type='button' class='close' data-dismiss='modal'
                aria-hidden='true'>&times;</button>
	<center><h3>Warning</h3></center>
	<div>
	  Your experiment cannot be extended because of a
          pre-scheduled resource reservation. Please be sure to save
          all your work before your experiment is terminated. If this
          is going to cause undue hardship, please contact
	  <a class="supportmail"></a> to plead your case. 
	</div>
	<div style="margin-top: 10px">
          <button class='btn btn-primary btn-sm align-center'
		  data-dismiss='modal'
                  type='button'>Dismiss</button>
	</div>
      </div>
    </div>
  </div>
</div>
