
/*
.navbar-brand > img {
  border: 5px solid #708238;
  border-radius: 35px;
}
*/

.navbar-nav > li > a.admin-toggle {
  margin-top: 15px;
}

.portal-navbar {
  margin-bottom: 25px;
}

.navbar {
  background-color: #a2d2df;
}

.navbar-inner {
  background-color: #a2d2df;
}

#footer {
  background-color: #a2d2df;
}

.btn-success {
  background-color: #289328;
  border-color:     #237f23;
}
.btn-primary {
  background-color: #2f8ead;
  border-color:     #2a7e99;
}
.btn-info {
  background-color: #2f64ad;
  border-color:     #2a5899;
}
.btn-warning {
  background-color: #8a7626;
  border-color:     #766520;
}
.btn-danger {
  background-color: #9c2a2a;
  border-color:     #882525;

}
